body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chocolate;
}
table{
    width: fit-content;
}

th {
    text-transform: uppercase;
    color: black;
}
td{
    background-color: blue;
    padding: 10px;
    border: 5px solid yellow;
}